/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  background-color: #ECF0F1;
}

h1, h2, h3 {
  font-family: 'Roboto', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  max-width: 700px;
  padding: 45px 20px;
  text-align: center;
}

.pure-button-primary {
  background-color: #3C3C3D;
  text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8em;
    padding: .5em;
}

.pure-button-primary:hover {
  background-color: #6C6C6D;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

input {
  color: #000;
}

.flex-container {
  display: flex; width: 100%; padding: 3px; justify-content: center; align-items: center; align-content: stretch;
}

li {
  list-style-type: none;
  padding: .5em;
  border: 1px solid #000;
  border-radius: 7px;
  margin: 2px;
}

.smaller {
  font-size: .8em;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #C99D66;
}

p.description {
  text-align: justify;
}
